@font-face {
  font-family: $base-font-primary;
  src:  url("../assets/fonts/FreightTextPro/FreightTexPro.otf") format("opentype"),
        url('../assets/fonts/FreightTextPro/FreightTextProBook-Regular.ttf')  format('truetype'),
        url('../assets/fonts/FreightTextPro/FreightTextProBook-Regular.woff')  format('woff');
}

@font-face {
  font-family: $base-font-secondary;
  src:  url('../assets/fonts/Gibson/Gibson-Regular.eot'), /* IE9 Compat Modes */
        url("../assets/fonts/Gibson/Gibson-Regular.otf") format("opentype"), 
        url('../assets/fonts/Gibson/Gibson-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('../assets/fonts/Gibson/Gibson-Regular.woff')  format('woff'),  /* Pretty Modern Browsers */
        url('../assets/fonts/Gibson/Gibson-Regular.woff2')  format('woff2'); /* Super Modern Browsers */
}


html,body {
  width:100%;
  height:100%;
  margin: 0px;
  font-family: $base-font-primary; 
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
}
p, 
article,
table,
span{
  @include font-size($base-font-size);
  line-height: $base-line-height;
  font-family: $base-font-secondary;
  font-weight: 300;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin:0;
  padding:0;
  font-family: $base-font-primary;
}

h1, .h1 {
  @include font-size(42px);
}
h2, .h2 {
  @include font-size(36px);
}
h3, .h3  {
  @include font-size(30px); 
} 
h4, .h4 {
  @include font-size(24px);
}
h5, .h5{
  @include font-size(16px);
}
h6, .h6 {
  @include font-size(12px);
}
.container {
  width: 100%;
  /* max-width: 1185px; */
  /* padding: 0 15px; */
  margin: 0 auto;
  padding: 0 15em !important;

  @media screen and (max-width: $break--XL) { 
   /*  max-width: 1024px; */
   padding: 0 5em !important;
   
  }

  @media screen and (max-width: $break--LL) { 
    /* max-width: 960px; */
  }

  @media screen and (max-width: $break--L) { 
   /*  max-width: 768px; */
  }

  @media screen and (max-width: $break--M) { 
    padding: 0 30px !important;
  }

}

.pd-l{
  padding-left: 15em !important;;
  @media screen and (max-width: $break--XL) { 
    padding-left: 5em !important;
  }

  @media screen and (max-width: $break--M) { 
    padding-left: 30px !important;
  } 
}
.pd-l{
  padding-right: 15em !important;;
  @media screen and (max-width: $break--XL) { 
    padding-right: 5em !important;;
    
  }
  @media screen and (max-width: $break--M) { 
    padding-right: 30px !important;
  }
}
.pd-l-tab{
  padding-left: 9em !important;
  @media screen and (max-width: $break--XL) { 
    padding-left: 1.4em !important;
  }
  @media screen and (max-width: $break--M) { 
    padding-left: 30px !important;
  }
}

.pd-r-tab{
  padding-right: 9em !important;
  @media screen and (max-width: $break--XL) { 
    padding-right: 1.4em !important;
  }
  @media screen and (max-width: $break--M) { 
    padding-right: 20px !important;
  }
  
}

img{
  width:100%;
}

* {
  box-sizing: border-box;
}
.title {
  font-size: 65px;
  @media (max-width: $screen--M) {
    font-size: 40px;
   
  }
}

.d-block{
  display: block !important;
}

.mobile-only {
  display: none !important;
  visibility: hidden;

  @media screen and (max-width: $break--M) { 
    display: block  !important;
    visibility: visible  !important;
  }
}

.desktop-only {
  display: block;
  visibility: visible;
  @media screen and (max-width: $break--M) { 
    display: none  !important;
    visibility: hidden  !important;
  }
} 