/* ==========================
  Mobile Nav Menu CSS
========================== */

.nav-top {
	display: flex;
	align-items: center;
	position: fixed;
	z-index: 101;
	padding: 10px 20px;
	width: 50px;
	height: 50px;
  left: auto;
  right: 26px;
  top: 2vh;

  .mob-logo{
    position: fixed;
    top: 27px;
    left: 20px;
    img{
      width: 122px;
    }
  }
}

.go-back-icon{
  position: relative;
  left: -10px;
  margin-left: -14px;
}

.d-none{
  display: none;
}

.mob-menu-ham{
  span {
    display: block;
    position: absolute;
    top: 24px;
    left: 5px;
    right: 5px;
    height: 3px;
    border-radius: 2px;
    background: white;
    -webkit-transition: background 0 0.3s;
            transition: background 0 0.3s;

      &::after, &::before {
        position: absolute;
        display: block;
        left: 0;
        width: 100%;
        height: 3px;
        border-radius: 2px;
        background-color: #fff;
        content: "";
        -webkit-transition-duration: 0.3s, 0.3s;
                transition-duration: 0.3s, 0.3s;
        -webkit-transition-delay: 0.3s, 0;
                transition-delay: 0.3s, 0;
      }
      &::before {
        top: -11px;
        -webkit-transition-property: top, -webkit-transform;
                transition-property: top, transform;
      }
        
      &::after {
        bottom: -11px;
        -webkit-transition-property: bottom, -webkit-transform;
                transition-property: bottom, transform;
      }
    }
}

.nav-is-toggled{
  .mob-menu-ham{
    span{
      background: none;
      left: 10px;
      right: 10px;
      &::before {
        top: 0;
        background-color: #000;
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg);
      }
      &::after {
        bottom: 0;
        background-color: #000;
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
      }
      &::before, &::after {
        -webkit-transition-delay: 0, 0.3s;
                transition-delay: 0, 0.3s;
      }
    }
  }
  .mob-logo{
    display: none;
  }
}

.nav-drill {
	padding-top: 10vh;
	transform: translateX(100%);
}
.nav-is-toggled {
	.nav-drill {
		transform: translateX(0);
	}
	&::after {
		opacity: 1;
		visibility: visible;
	}
}

.nav {
	&-drill {
		display: flex;
		position: fixed;
		z-index: 100;
		top: 0;
		right: 0;
		width: $nav-width;
		height: 100vh;
		background-color: $whiteDark;
		overflow-y: auto;
		overflow-x: hidden;
		-webkit-overflow-scrolling: touch;
		transition: 0.45s;
	}
	
	&-items {
    flex: 0 0 100%;
    padding-left: 0;
    margin-top: 0;
    border-top: solid 1px $nav-level-border-color;
	}
	
	&-item {    
    padding: 0 40px !important;
	}
	
	&-link {
		display: block;
		font-size: 1rem;
    line-height: 1.5em;
    font-size: 40px !important;
		font-weight: 300;
	}
	
	&-expand {
		&-content {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			transform: translateX(100%);
			padding-left: 0;
			transition: 0.3s;
      visibility: hidden;
      background: $whiteDark;
      border: 0;
			
			.nav-item {
        padding: 0 40px !important;
        border-bottom: solid 1px $nav-level-border-color;
			}

			.nav-link {
        font-family: $base-font-secondary;
        font-size: 20px !important;
        font-weight: 400 !important;
        color: $black !important;
        padding: 40px 0 !important;
      }

      input[type='checkbox'] {
        display: none;
      }

      .collapsible-content {
        max-height: 0px;
        overflow: hidden;      
        transition: max-height .25s ease-in-out;

        ul{
          padding: 0;
          .nav-sub-link {
            padding-bottom: 40px !important;
            a{
              padding: 40px 0 !important;
              font-size: 20px !important;
              font-family: $base-font-secondary;    
              text-transform: unset !important;
              font-weight: 400 !important;
            }
          }
        }
      }

      .toggle:checked + .nav-link-collapse + .collapsible-content {
        max-height: 1000px;
      }
      
      .nav-link-collapse {
        font-family: $base-font-secondary;
        font-size: 20px !important;
        font-weight: 400 !important;
        color: $black !important;
        padding: 40px 0 !important;
        display: flex;
      }
      
			.nav-back-link {
				display: flex;
				align-items: center;
        color: $white;
        padding: 0 !important;
        height: 10vh;
			}
		}
		
		&-link {
			display: flex;
			justify-content: space-between;
		}
		
		&.active {
			> .nav-expand-content {
				transform: translateX(0);
				visibility: visible;
			}
		}
	}
}

/* ==========================
   MENU FULLPAGE CSS
========================== */

.panel {
  position: fixed;
  right: -100%; /*left or right and the width of your navigation panel*/
  width: 100%; /*should match the above value*/
}

.panel-logo{  
  margin-left: 5%;
  margin-top: 30px;
  color: #0567A3;
  font-size: 30px;
  position: absolute;
  z-index: 1010;
  font-family: Gibson;

  img{
    width: 122px;
  }
}

.menu-link i {
  text-decoration: none;
  font-size: 40px;
  color: $black;
}

#menu{
  background: $whiteDark;
  z-index: 100;
  transition: all 1s cubic-bezier(0, 0, 0.52, 0.93) 0s !important;
}
#contact{
  background: $whiteDark;
  z-index: 1010;
  @media (max-width: $screen--M) {
    overflow-y: auto;
  }
}
#menu ul.desktop,  #contact ul.desktop {
  margin-top: 150px;
  @media (max-width: $screen--L) {
    margin-top: 100px;
  }
}

.menu-gap{
  padding-left: 20%;
}

#menu li, #contact li{
  transition: all 0.4s ease;
  padding: 0 0 20px;
  list-style: none;
}

#menu li a {
  color: $black;
  font-size: 4rem;
  text-decoration: none;
  font-weight: 600; 
  padding: 20px 0;
  @media (max-width: $screen--XL) {
    font-size: 2.8rem;
  }
}

#menu li:hover a{
  color: #1CA8FF;
}

.menu-link {
  z-index: 1001;
  display: block;
  position: fixed;
  top: 0;
  right: 72px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 80px;
  height: 80px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background 0.3s;
          transition: background 0.3s;
  background-color: transparent;

  @media (max-width: $screen--M) {
    right: 2%;
  }
}

.menu-link:focus {
outline: none;
}

.menu-link span {
  display: block;
  position: absolute;
  top: 45px;
  left: 18px;
  right: 18px;
  height: 4px;
  border-radius: 2px;
  background: white;
  box-shadow: 0px 1px 4px #000;
  -webkit-transition: background 0 0.3s;
          transition: background 0 0.3s;
}

.menu-link span::before,
.menu-link span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #fff;
  content: "";
  box-shadow: 0px 1px 4px #000;
  -webkit-transition-duration: 0.3s, 0.3s;
          transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0;
          transition-delay: 0.3s, 0;
}

.menu-link span::before {
  top: -11px;
  -webkit-transition-property: top, -webkit-transform;
          transition-property: top, transform;
}

.menu-link span::after {
  bottom: -11px;
  -webkit-transition-property: bottom, -webkit-transform;
          transition-property: bottom, transform;
}

/* active state, i.e. menu open */
.menu-open {
  background-color: transparent;
}

.menu-open span {
  background: none;
  box-shadow: none;
} 

.menu-open span::before {
top: 0;
background-color: #000;
box-shadow: none;
-webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
        transform: rotate(45deg);
}

.menu-open span::after {
  bottom: 0;
  background-color: #000;
  box-shadow: none;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu-open span::before,
.menu-open span::after {
  -webkit-transition-delay: 0, 0.3s;
          transition-delay: 0, 0.3s;
}

/* Style the menu tab */
.menu-container{
  display: flex;

  .menu-items{
    flex: 5;
  }
  .menu-item-info{
    flex: 6;
    margin-top: 150px;
  }
}
.open-modal-active {
  position: fixed; 
  top: 0px; 
  bottom: 0px; 
  width: 100%; 
  height: 100%; 
  transition: right 600ms ease 0s; 
  right: 0px;
}

.modal-close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 36px;
}

/* Style the tab content */
.tabcontent {
  padding: 20px 0;
  display: none;
  transition: all .8s;

  .info-content{
    display: inline-block;
    float: left;
    border-left: 2px solid #000;
    padding-left: 2rem;
    padding-right: 3rem;

    h3{
      font-size: 36px;
      font-weight: 500;
      width: 75%;
      @media screen and (max-width: $break--M){
        width: 100%;
      }
    }

    ul{
      margin-top: 2rem !important;
      padding: 0;
      margin: 0;

      li{
        text-align: left !important;
        font-size: 21px;        
        font-family: $base-font-secondary;
        color: $default-font-color;
        line-height: 30px;
        width: 85%;
        @media screen and (max-width: $break--M){
          width: 100%;
        }
      }
    }

    @media (max-width: $screen--XL) {
      h3{
        font-size: 2rem;
      }

      ul li{
        font-size: 1rem;
      }
    }

    @media (max-width: $screen--L) {
      display: none;
    }
  }
}


